:root
{
    --border1: 8px solid #999;
    --border2: 8px solid #CC9900;
}

*
{
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

html , body
{
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 110%;
    background: #666;
}

header
{
    background: white;
}

p
{
    line-height: 1.5rem;
}

strong
{
    color: #019966;
    font-weight: normal;
}

main
{
    padding: 60px 0;
    border-top: var( --border1 );
}

.max-width-wrapper
{
    margin: 0 auto;
    max-width: 760px;
}

.intro-chunk
{
    max-width: 500px;
    padding: 70px 30px 50px 30px;
}

.title
{
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 50px;
}

.card
{
    background: white;
    padding: 0 30px 30px 30px;
    border-bottom: var( --border1 );
}

.indented-heading
{    
    color: black;
    margin-top: 10px;
    font-size: 1.3rem;
    font-weight: bold;
    margin-left: -40px;
    margin-bottom: 2px;
    background: #FFBF00;
    display: inline-block;
    padding: 15px 20px 15px 40px;
    border-bottom: var( --border2 );
}
